.Content {
	p, li {
		font-size: 13px !important;
	}
}

.bluebackground{
	background: url("../img/background_repeat.jpeg") repeat;
}
.patternbackground {
	background: url("../img/element_achtergrond.png") repeat;
	background-position: center top;
	background-repeat: repeat-x;
}

.columbackground {
	background: url("../img/background_reapeat_2.png") repeat;
}

.thumbnail {
	padding: 10px;
}
.homeLogo{
	margin-top: 70px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	img{
		width: 80%;
	}
}
.homeVrouw{
	img{
	margin-bottom: -20px;
	z-index: 6666;
	position: relative;
	}
}
.homevrouw{
	img{
	margin-bottom: -40px;
	z-index: 6666;
	position: relative;
	}
}


.leftLinks{
	//width: 14%;
	margin-right: 0px !important;
	width: 17%;
	h2{
		font-size: 1rem;
		color: #ffffff;
		margin-bottom: 0px;
	}
	li{
		background-color: #ec6e08;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #ffffff;
		font-weight: bold;
		padding-left: 15px;
	}
	a {
		color: white;
		font-weight: bold;
	}
	li:hover{
		background: #e5a169;
	}
	hr{
		margin-top: 0px;
	}
}

.leftImage{
	border: 5px solid white;
	border-radius: 15px;
	margin-top: 40px;
	height: 126px;
	box-shadow: 1px 1px 1px 1px #888888;
}

.mainFooterTekstWordPress{
	padding-left: 20px;
	margin-top: 13px;
	margin-bottom: 20px;

	h2{
		font-size: 1.8rem;
		color: #ffffff;
		margin-bottom: 10px;
	}
	hr{
		margin-top: 10px;
	}
	p{
		color: #ffffff;
	}

}

.homepage-box {
	margin-top: 40px;
	margin-bottom: 40px;
	border: 3px solid white;
	border-radius: 8px;
	box-shadow: 1px 1px 1px 1px #888888;
	background-color: white;
	article, section{
		border-radius: 8px;
		padding: 10px;
	}

	ul {
		margin-top: auto;
		padding-left: 20px;
	}
	li {
		font-size: 11px;
		margin-bottom: 5px;
		padding-bottom: 2px;
	}

	h2 {
		font-size: 14px;
		margin-bottom: 5px;
		margin-top: 0px;
		padding-bottom: 10px;
	}

	p {
		font-size: 13px;
	}
}

body.home .homepage-box,
body.page-template-template-home-landingspagina-php .homepage-box {
	height: none;
}	
.content-column {

	p {
		color: black;
		padding: 10px;
	}
}
.widgettitle {
	color: white;
}
.menu-0 {
	width: 150px;
}
.sitemap{
	background-color: #0b5e88;
	li,h2,p {
		color: white;
	}
}


.mainheader {
	padding: 20px;
}


.mainFooterTekstWordPress {
	p{
		font-size: 14px;
	}
}

.administratieRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

.verzekeringenAuto{
	iframe {
		height: 425px;
		width: 450px;
	}
}

.verzekeringenOverig{
	iframe {
		height: 600px;
		width: 525px;
	}
}


p {
	color: black;
}

h1, h2, li {
	color: black;
}

#spanzondermargin {
	font-weight: bold;
	padding: 0px;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

////// Administratie pagina ///////

.administratie-foto {
	margin-bottom: 20px;
	img {
		border: 3px solid white;
	}
}
.columbackground-administratie {
	background: url("../img/background_reapeat_2.png");
	padding: 20px;
}

///// Belasting /////

.columbackground-belasting {
	background: url("../img/background_reapeat_2.png");
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.belastingFoto {
	img {
		border: 3px solid white;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.belastingCheckFoto {
	img {
		border: 3px solid white;
		margin-left: 70px;
		margin-top: 20px;
		margin-bottom: 1px;
	}
}

///// verzekeringen /////

.columbackground-verzekeringen {
	background: url("../img/background_reapeat_2.png");
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.rekenService {
	text-align: center;
}

.accordion {
	font-weight: bold;
}

.accordion:hover{
	cursor: pointer;
}

.ondersectie {
	text-align: center;
	margin-top: 50px;
}

///// Formulieren /////
.columbackground-formulieren {
	background: url("../img/background_reapeat_2.png");
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.formulierfoto {
	border: 3px solid white;
	height: 427px;
}

///// gegevens wijzigen //////

.columbackground-gegevenswijzigen {
	background: url("../img/background_reapeat_2.png");
	border-left: 1px solid white;
	border-right: 1px solid white;
}

///// schade melden /////

.columbackground-schademelden {
	background: url("../img/background_reapeat_2.png");
}

///// tarieven /////

.columbackground-tarieven {
	background: url("../img/background_reapeat_2.png");
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.tarievenImage {
	margin-top: 15px;
	border: 3px solid white;
}

////// nieuws, relaties en links //////

.columbackground-nieuws {
	background: url("../img/background_reapeat_2.png");
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.nieuwsfoto {
	border: 3px solid white;
}

.link {
	img {
	border: 3px solid white;
	margin-top: 25px;
	}	
}

.rssfeed {
	a {
		font-weight: bold;
	}
}

.footerfeed {
	.homepage-box {
		margin-top: 0px;
		margin-bottom: 20px;
	}
}

///// contact //////
.columbackground-contact {
	background: url("../img/background_reapeat_2.png");
	border-left: 1px solid white;
	border-right: 1px solid white;
}

@media all and (max-width: 900px) {
	#nav_menu-2 {
		display: none;
	}
} 

@media all and (min-width: 900px) {
	body.home .homepage-box, {
		height: 465px;
	}
}

@media all and (min-width: 900px) {
body.page-template-template-home-landingspagina-php .homepage-box {
		height: 465px;
	}
}

@media all and (max-width: 640px) {
	.dodocolumn {
		width: 100%;
	}
}