// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  @include clearfix;
  text-align: center;
  
  a:hover{
    color: #9a8f8f;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-list {
	display: block;
	margin: 0px;
}

.Navigation-link.is-active {
  text-decoration: none;
  color: #ec6e08;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;
  margin: 0 rem(12px);
  float: left;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}

.Navigation-list.Navigation-list--dropdown{
  @include clearfix;
  background-color: #004e75;
  margin-top: 16px;
  display: block;
  padding-right: 15px;

}
.Navigation-list.Navigation-list--dropdown .Navigation-listItem{
  width: 200px;
  background-color: #004e75;
}